@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,900,800|Calligraffitti);
// @import url(http://fonts.googleapis.com/css?family=Calligraffitti);
@font-family1: 'Raleway', sans-serif;
@font-family2: 'Calligraffitti', cursive;
@primary-color: #4D9DE0;
// colors white grey and blue
@blue: #0079BF;
@white: #FFFFFF;
@nav-adjust-margin: 67px;
@border-radius: 8px;