<template name='signUp'>
	<div id='signUp'>
		<h1>Welcome to our sign up page</h1>
		<div>
			<h2>Tell us what you which to do.</h2>
			<div class="options">
				<div class="option">
					<i class="icon-speechballoon8"></i>
					<div class="desc">
						<div class="main">
							I want to get assitance with an assignment
						</div>
						<div class="sub">
							Find someone knowledgeable with a problem set
						</div>
						<a href="{{pathFor 'createUser'}}" class="btn btn-primary button">Find Assistance</a>
					</div>
				</div>
				<div class="option">
					<i class="icon-hand-1"></i>
					<div class='desc'>
						<div class='main'>
							I want to assist others with their tasks/assignments
						</div>
						<div class="sub">
							Help someone with a knowledge based problem
						</div>
						<a href="{{pathFor 'createAssistant'}}" class="btn btn-primary button">Render Assistance</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<template name="userSignUp">
	<div id='userSignUp'>
		<div class="container">
			<div class="row vertical-center-row">
				<div class="col-lg-12">
					<div class="row ">
						<div class="col-xs-4 col-xs-offset-4">
							<!-- <form id="at-pwd-form" action="#" method="POST" novalidate>
								{{> appAtGroupFields}}

								{{#if showForgotPasswordLink}}
								{{> atPwdLink}}
								{{/if}}

								{{> atPwdFormBtn}}
							</form> -->
							Welcome to the user sign up page
							<div>
								{{> atForm state='signUp'}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<template name="appAtPwdForm">
  <div class="at-pwd-form">
    <form id="at-pwd-form" action="#" method="POST" novalidate>
      <!-- Moved the iteration to appAtGroupFields -->
      {{> appAtGroupFields}}
 
      {{#if showForgotPasswordLink}}
        {{> atPwdLink}}
      {{/if}}
 
      {{> atPwdFormBtn}}
    </form>
  </div>
</template>
<template name='assitantSignUp'>
	<div id="assistantSignUp">
		<div class="container">
			<div class="row vertical-center-row">
				<div class="col-lg-12">
					<div class="row ">
						<div class="col-xs-4 col-xs-offset-4" style="background:red;color:white">
							Welcome to the assistant sign up page
							<div>
								{{> atForm state='signUp'}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<template name='appAtGroupFields'>
	{{#each fields}}
	{{#if options.dividerBefore}}<hr>{{/if}}

	<!-- Collect grouped fields, possibly outputting nothing until the group is ended -->
	{{#with collectFields this}}
	{{#if isArray this}}
	<!-- Group container -->
	<div class="{{numberToWord this.length}} fields">
		{{#each this}}
		{{> atInput}}
		{{/each}}
	</div>
	{{else}}
	{{> atInput}}
	{{/if}}
	{{/with}}
	{{/each}}
</template>