@import '../../../stylesheets/_variables';

#userSettings{
	margin-top: @nav-adjust-margin + 20px;
	margin-bottom: 20px;
}

.userViewDetails{
	display: block;

	.input{
		padding: 15px 5px;
		border-bottom: 1px solid #DDD;

		.disp_label{
			font-weight: bold;
			display: inline-block;
			width: 18%;
		}

		.disp_value{
			display: inline-block;
		}
	}
}