<template name='userSettings'>
	<div id="userSettings">		
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3">
							<div>
								{{> settingsSideBar}}
							</div>
						</div>
						<div class="col-md-9">
							{{> yield region="settings_side"}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<template name='accountSettings'>
	<fieldset>
		<legend>
			<span>
				{{#if $.Session.get 'basicProfileEdit'}}
				Edit
				{{/if}}
				Account
			</span>
			<a class="pull-right edit-basic-form">
				{{#unless $.Session.get 'basicProfileEdit'}}
				Edit
				{{else}}
				Cancel
				{{/unless}}
			</a>
		</legend>	

		{{#autoForm id="afUpdateDemo" type=update collection="Meteor.users" doc=this.user}}
		<div>
			{{#unless $.Session.get 'basicProfileEdit'}}
			{{>userBasicDetailsView}}
			{{else}}
			Editing basic profile

			{{> afQuickField name="profile.firstName"}}
			{{> afQuickField name="profile.lastName"}}
			{{> afQuickField name="emails.0.address"}}
			{{/unless}}
		</div>
		{{/autoForm}}
	</fieldset>
</template>
<!-- profileSettings -->
<template name='profileSettings'>
	<div id="profileSettings">
		{{#if currentUser.isUser }}
		Customer profile edit page
		{{/if}}
		{{#if currentUser.isProvider}}
		Assistant User profile settings
		{{/if}}
	</div>
</template>

<template name='settingsSideBar'>
	<div id='settingsSideBar'>
		<!-- side bar for settings
		<h2>Work in progress</h2> -->
		<ul>
			<li><a href="{{pathFor 'userSettings'}}">Account</a></li>
			<li><a href="{{pathFor 'userSettingsProfile'}}">Profile</a></li>
			<li><a href="">Payments</a></li>
			<li><a href="">Jobs</a></li>
		</ul>
	</div>
</template>
<template name='formTest'>
	{{#autoForm id="afUpdateDemo" type=formType collection=Collections.People doc=selectedPersonDoc autosave=autoSaveMode}}
	{{>userBasicDetailsView}}
	{{/autoForm}}
</template>

<template name='userBasicDetailsView'>
	<!-- {{debug this.user.emails}} -->
	<!-- {{this.user.emails}} -->
	<div class="userViewDetails">
		<div class="input">
			<div class="disp_label">
				Full Name
			</div> 
			<div class="disp_value">
				{{this.user.fullName}}
			</div>
		</div>
		<div class="input">
			<div class="disp_label">
				Email
			</div> 
			<div class="disp_value">
				{{this.user.primaryEmail}}
			</div>
		</div>
		<div class="input">
			<div class="disp_label">
				Password
			</div> 
			<div class="disp_value">
				*****************
			</div>
		</div>
	</div>
	<!-- {{this.emails.0.address}} -->
</template>